<!doctype html>
<html lang="en"></html>
  	<head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	    <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		
		<title>Report | Purchase Details </title>
		<style>
			footer {
				position: fixed;
				left: 0;
			    bottom: 0;
			    width: 100%;
			    color: #fff;
			    text-align: right;
			}
			#filter {
				background-color: bisque;
			}
		</style>		
	</head>
	<body>
		<!-- NAVBAR -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-info">
			<a class="navbar-brand" href="/home">Sporty Shoes Official</a>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a href="/home"><button class="btn btn-info">Home</button></a></li>
				<li class="nav-item active"><a href="/listUsersPage"><button class="btn btn-info">List of Users</button></a></li>
				<li class="nav-item active"><a href="/addProductPage"><button class="btn btn-info">Add Product</button></a></li>
				<li class="nav-item active"><a href="/addCategoryPage"><button class="btn btn-info">Add Category</button></a></li>
				<li class="nav-item active"><a href="/myCart"><button class="btn btn-info">Cart</button></a></li>
				<li class="nav-item active"><a href="/checkoutDetails"><button class="btn btn-warning">Purchase Report</button></a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><h4><span th:text="${session.username}"></span></h4></li>&nbsp;&nbsp;&nbsp;&nbsp;
				<li class="nav-item active"><a href="/logout"><button class="btn btn-danger">LogOut</button></a></li>
			</ul>
		</nav>
		<!-- NAVBAR -->
	  
		<h1 style="text-align: center;" class="mt-5">
			Purchase Report
		</h1>
	  
	  	<div class="container p-5">
			  
			  <!-- FILTERS -->
			  <div class="bg-light">
				  <form action="/product/filterReport" method="GET">
					  <label for="category">Filter by Category:</label>
					  <select name="category" id="category">
					    <option value="0">All</option>
					    <!--<option  th:value="${selectedCategory.category_id}" th:text="${selectedCategory.category_name}" selected></option>-->
					    <option th:each="category : ${listCat}" th:value="${category.category_id}" th:text="${category.category_name}"></option>
					  </select>
					  <button type="submit">Filter</button>
				  </form>
				  <a href="/dateAsc"><button id="filter" class="btn">Filter by date Acending</button></a>
				  <a href="/dateDesc"><button id="filter" class="btn">Filter by date Descending</button></a>
		  	  </div>
			  <!-- FILTERS -->
			  
			<table class="table table-striped table-light" style="text-align: center; border: 2px;">
				<thead class="bg-info">
					<tr>
						<!--<th scope="col">User ID</th>-->
						<th scope="col">Date of Purchase</th>
						<th scope="col">Product ID</th>
						<th scope="col">Product Name</th>
						<th scope="col">Category</th>
						<th scope="col">Purchased by</th>
						<th scope="col">Price</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pr: ${showPurchaseReport}">
						<td th:text="${pr[1]}">2</td>
						<td th:text="${pr[2]}">2</td>
						<td th:text="${pr[3]}">2</td>
						<td th:text="${pr[6]}">2</td>
						<td th:text="${pr[4]}">2</td>
						<td th:text="${pr[5]}">2</td>
					</tr>
				</tbody>
			</table>
			
		</div>
		

		
		<!-- FOOTER -->
		<footer class="container-fluid bg-info active">
			<div>
				Sporty Shoes Official By Anjana Kizhiyapat &#169; 2023
			</div>
		</footer>
		<!-- FOOTER -->
	</body>
</html>